



/*////////////////////////////////////////////////////////////////////////////*/
/* BASIC SETUP */
/*////////////////////////////////////////////////////////////////////////////*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    background-color: #4B6580;
    color: #555;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    font-size: 62.5%;
}


.row {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 5px 0 5px !important;
}

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}


.row {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}


a{
    text-decoration: none;
    color: inherit;
}

ul
{
    list-style-type: none;
}

/*////////////////////////////////////////////////////////////////////////////*/
/* REUSABLE COMPONENTS */
/*////////////////////////////////////////////////////////////////////////////*/

.main--container{
    display: grid;
    padding: 0 5px 0 5px;
    max-width: 928px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 165px 165px 165px 165px 165px 165px 165px 165px 165px 165px 165px 165px;
    grid-gap: 15px;
}


.menuandcontact{
    grid-column: 1 / 2;
    grid-row: 1 / 5;
}

.menu{
    width: 110%;
    height: 64%;
    background-color: #ffffff;
}

.menu__ul{
  width: 100%;
  height: 100%;
}

.menu__li{
  font-size: 1.6rem;
  font-family: 'Roboto', 'sans-serif';
  height: 14.5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: 1px solid #c5cdd1;
  cursor: pointer;
}


.menu__li:hover{
  background-color: #55CCC8;
}

.menu__li:hover .menu__icon{
  color: white;
}

.menu__li:hover .menu__span{
  color: white;
} 

.menu__div{
  margin-left: 25px;
  width: 90%;
  position: relative;
  top: -5px;
}
.menu__icon{
  color: #c5cdd1;
  font-size: 2.7rem;
  margin-right: 15px;
  position: relative;
  top: 5px;
}

/* CONTACT */
.contact{
    width: 110%;
    height: 36%;
    background-color: darkslateblue;
    font-family: "Roboto";
    font-size: 1.4rem;
    background-color: #B2B9BD;
    color: #FFFFFF;
}

.contact__ul{
    width: 100%;
    height: 100%;
}

.contact__li{
    height: 33%;
    padding-top: 25px;
}

.contact__icon{
    font-size: 2.7rem;
    padding: 0 14px 0 28px;
}
.contact--figure{
    margin: 0;
    font-size: 1.4rem;
    display: inline-block;
}

@media only screen and (max-width: 775px) {
.contact--figure{
    font-size: 1.2rem;
}
}
@media only screen and (max-width: 720px) {
        .contact__li{
          position: relative;
    }
        .contact__icon{
          position: absolute;
          left: 10%;
        }
        .contact--figure{
          position: absolute;
          left: 40%;
        }
}

@media only screen and (max-width: 500px) {
        .contact__icon{
          left: 10%;
        }
        .contact--figure{
        left: 55%;
        }
}


/*END OF CONTACT */


.blog--container{
    grid-column: 2 / 3;
    grid-row: 1 / 5;
}

.blog__elem{
    width: 100%;
    height: 25%;
    border-bottom: 0.1px solid #47637d;
    background-color: #152840;
    position: relative;
    cursor: pointer;
    
}
.blog__elem:hover{
 background-color: #263A54; 
}

.blog__elem--lightblue{
   background-color: #263A54; 
}

.h2{
  font-family: 'Roboto', 'sans-serif';
  font-size: 1.6rem;
  font-weight: 500;
}

.blog__h2{
  color: #56ccc8;
  position: absolute;
  top: 25px;
  left: 30px;
}

.blog__ul{
  font-size: 1.5rem;
  color: #ffffff;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  position: absolute;
  top: 55px;
  left: 30px;
}

.blog__ul--long{
  top: 47px;
}

.blog__li{
  margin: 8px 0 15px 0;
}

.blog__button{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 25px;
  border-radius: 50%;
  border: 0px;
  background-color: #56ccc8;
  font-size: 1.5rem;
  color: #152840;
  cursor: pointer;
}

.blog__button::after{
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: #56ccc8;
  border-top: 2px solid #152840;
  border-right: 2px solid #152840;
  transform: rotate(45deg);
  position: relative;
  left: 4.4px;
}

@media only screen and (max-width: 500px) {
  .blog__li{
    margin: 8px 0 35px 0;
  }
  .blog__li--long{
    margin: 13px 0 20px 0;
  }
}

.relative {
  position: relative;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #56CCC8;
  margin-top: 120px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 720px){
  .header{
    margin-top: 10px;
  }
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

.header__input {
  font-size: 0.8rem;
  margin: 0;
  position: relative;
  bottom: 4px;
  border: 1px solid #B7BDC1;
  width: 122px;
  font-size: 1.5rem;
  margin-left: 12px;
  margin-right: -8px;
  display: none;
}

.header__hamburger {
  cursor: pointer;
  width: 60px;
  height: 100%;
  float: left;
  background: transparent;
  border: 0;
}

.header__hamburger__icon {
  color: #FFFFFF;
  font-size: 3rem;
}

.header__hamburger__icon--open {
  display: block;
}

.header__hamburger__icon--close {
  display: none;
}

.header__hamburger__label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.nav--desktop {
  float: right;
  width: calc(100% - 60px);
  height: 60px;
  background-color: #FFFFFF;
}

.nav__div--list {
  float: left;
}

.ul {
  margin-top: 20px;
  margin-left: 10px;
}

.li {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  display: inline;
  list-style: none;
  margin-left: 40px;
  -webkit-transform: 1s;
  -ms-transform: 1s;
  transform: 1s;
}

.li:hover {
  color: #66D0CC;
  cursor: pointer;
}

.nav__div--icons {
  float: right;
  margin-left: -50px;
}

.nav__div--icons__ul {
  margin-top: 15px;
  margin-right: 25px;
}

.li--icons {
  margin-left: 20px;
}

@media only screen and (max-width: 500px){
  .li--hiddenonmobile{
    display: none;
  }
}

.nav__icons--social {
  font-size: 2.4rem;
  color: #B2B9BD;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.nav__icons--social--search:hover, .nav__icons--social--search:active, .nav__icons--social--search:focus {
  color: #56CCC8;
}

.nav__icons--social--fb:hover, .nav__icons--social--fb:active, .nav__icons--social--fb:focus {
  color: #4D6BAA;
}

.nav__icons--social--twitter:hover, .nav__icons--social--twitter:active, .nav__icons--social--twitter:focus {
  color: #4FC6F8;
}

.nav__icons--social--gplus:hover, .nav__icons--social--gplus:active, .nav__icons--social--gplus:focus {
  color: #D34836;
}

.nav__icons--social--user:hover, .nav__icons--social--user:active, .nav__icons--social--user:focus {
  color: #87D37C;
}

.nav__line::after {
  content: "";
  position: absolute;
  height: 60px;
  bottom: -19px;
  width: 1px;
  background-color: #DDE2E4;
  margin-left: 20px;
}

.nav__line--first.closed::after {
  visibility: hidden;
}

/*MOBILE NAV*/
.nav--mobile {
  width: 100%;
  height: 270px;
  margin: 0 0 10px 0;
  background-color: #FFFFFF;
  display: none;
  padding-top: 40px;
}

.nav--mobile__ul {
  margin: 0;
}

.nav--mobile__li {
  display: block;
  border-top: 1px solid #56CCC8;
  border-bottom: 1px solid #56CCC8;
  width: 100%;
  margin: 0 0 20px 0;
  text-align: center;
}

.nav--mobile__li__a {
  color: #BDC3C7;
}

@media only screen and (max-width: 900px) {

    .nav__div--list{
        display: none !important;
    }


    .nav__line::after{
        bottom: -20px;
    }
}

/*SOCIAL*/
.social{
    position: relative;
    color: #FFFFFF;
}
.social--fb {
  background-color: #4D6BAA;
}

.social--twitter {
  background-color: #4FC6F8;
}

.social__span {
  font-family: "Roboto";
  font-size: 1.6rem;
  color: #FFFFFF;
  position: absolute;
  font-weight: 300;
  bottom: 20px;
}

.social__span--counter {
  font-weight: 700;
  bottom: 20px;
  left: 25px;
}

.social__span--follow {
  left: calc(100% - 90px);
}

.social__span--following {
  left: calc(100% - 110px);
}

.social__icon {
  position: absolute;
  font-size: 5rem;
}

.social__icon--fb {
  top: 22px;
  left: 30px;
}

.social__icon--twitter {
  top: 22px;
  left: 25px;
}

.social__icon--addchecked {
  font-size: 3rem;
  bottom: 12px;
  right: 10px;
  cursor: pointer;
  margin-left: 15px;
}

/*END OF SOCIAL*/

.element{
    border: 1px orange solid;
}


.divSocialList {
    background: white;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.divSocialList__ul {
  margin-top: 35px;
  list-style-type: none;
}


.divSocialList__li {
  margin-bottom: 28px;
  margin-left: 25px;
}

.divSocialList__circle {
  display: inline;
  width: 100px;
  height: 100px;
  background-color: gray;
}

.divSocialList__i {
  font-size: 4rem;
  color: blue;
}

.divSocialList__span {
  font-size: 1.6rem;
  font-family: "Roboto";
  color: #475055;
  position: relative;
  bottom: 10px;
  left: 25px;
}


.h3 {
  font-size: 2.4rem;
  font-weight: 300;
  margin: 30px auto auto auto;
  text-align: center;
}

/* CONNECT */

.connect{
  color: #475055;
  font-family: "Roboto";
}

.connect--signin{
    background-color: white;
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    padding-left: 8px;
    padding-right: 8px;
}

.sign-in__icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sign-in__icon {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.icon-circle {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin: 0px;
  padding: 0;
  background-color: #c5cdd1;

}

.icon-circle--facebook {
  background-color: #4D6BAA;
  cursor: pointer;
}

.icon-circle--twitter {
  background-color: #4FC6F8;
  cursor: pointer;
}

.icon-circle--googleplus {
  background-color: #D34836;
  cursor: pointer;
}

.icon-circle--linkedin {
  background-color: #238CC8;
  cursor: pointer;
}

.iconproperties {
  position: absolute;
  top: 23%;
  left: 30%;
  font-size: 1.5rem;
  padding: 0;
  width: 0px;
  height: 0px;
  color: #FFFFFF;
}

.iconproperties--signin {
  color: #4D6BAA;
}

.icon--facebook--fix {
  left: 40%;
  font-size: 1.6rem;
}

.icon--linkedin--fix {
  right: 30%;
  font-size: 1.6rem;
}

.connect--newsletter{
    color: #475055;
    font-family: "Roboto";
    background-color: white;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}


.newsletter__p {
  font-size: 1.6rem;
  font-weight: 300;
  margin: 10px auto 0 auto;
  text-align: center;
}

.newsletter__p--signin{
    margin: 16px auto 16px auto;
}


.newsletter__form {
  width: 100%;
  margin: 15px auto 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}


.input--email {
  width: 60%;
  border: 1px solid #B2B9BD;
  font-size: 1.5rem;
  color: #B2B9BD;
  margin: 0 auto;
  text-align: center;
    height: 45px;
}

.button--signup {
  width: 100px;
  height: 45px;
  font-family: "Roboto";
  text-transform: uppercase;
  border: 0;
  border-radius: 5%;
  background-color: #EA6060;
  color: #FFFFFF;
  font-size: 1.6rem;
  cursor: pointer;
  margin-right: 25px;
}

/*END OF CONNECT */




@media (max-width: 720px){
    .menuandcontact{
     grid-column: 1 / 3;

    }
    .blog--container{
        grid-column: 3 / 5;
    }

    .divSocialList{
        grid-column: 1 / 3;
        grid-row: 5 / 7;
    }

    .social--fb{
        grid-column: 3 / 5;
        grid-row: 5 / 6;
    }
    .social--twitter{
        grid-column: 3 / 5;
        grid-row: 6 / 7;
    }

    .connect--signin{
        grid-column: 1 / 5;
        grid-row: 7 / 8;
    }

    .connect--newsletter{
        grid-column: 1 / 5;
        grid-row: 8 / 9;
    }



    .newsletter__form {
    width: 100%;
    margin: 10px auto 0 auto;

    }
    
    .divSocialList__ul{
      padding: 5px 17% 0 17%;
    }
    
}
@media(max-width: 770px) and (min-width: 720px){
  .divSocialList__li{
    margin-left: 15px;
  }
}
@media(max-width: 580px){
  
    .divSocialList__ul{
       padding: 5px 11% 0 11%;
    }
      
}



@media(max-width: 450px){

    .divSocialList__span{
       font-size: 1.2rem;
    }
      
}

@media(max-width: 420px){

    .divSocialList__li{
      margin-left: 0;
    }

  
}

@media(max-width: 340px){


    .divSocialList__span{
       font-size: 1.05rem;
    }
      
}


@media (max-width: 500px){

    .main--container{
        grid-gap: 10px;
    }

    .menuandcontact{
     grid-column: 1 / 5;
    }

    .menu{
        width: 100%;
    }

    .contact{
        width: 100%;
    }

    .blog--container{
        grid-column: 1 / 5;
        grid-row: 5 / 10;
    }

    .divSocialList{
        grid-column: 1 / 3;
        grid-row: 10 / 12;
    }

    .social--fb{
        grid-column: 3 / 5;
        grid-row: 10 / 11;
    }
    .social--twitter{
        grid-column: 3 / 5;
        grid-row: 11 / 12;
    }

    .social__span--follow {
        font-size: 1.2rem;
        bottom: 23px;
        left: calc(100% - 80px);
    }

    .social__span--following {
        font-size: 1.2rem;
        bottom: 23px;
        left: calc(100% - 90px);
    }

    .connect--signin{
        grid-column: 1 / 5;
        grid-row: 12 / 13;
    }

    .connect--newsletter{
        grid-column: 1 / 5;
        grid-row: 13 / 14;
    }


    .divSocialList__ul{
        margin-left: 0;
    }

}



.firsticonhover {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 32px;
  z-index: 9999;
}

.hover__facebook:hover {
  background-color: #4D6BAA;
}

.hover__twitter:hover {
  background-color: #4FC6F8;
}

.hover__googleplus:hover {
  background-color: #D34836;
}

.hover__twitter:hover {
  background-color: #4FC6F8;
}

.hover__rss:hover {
  background-color: #FF9900;
}

.hover__pinterest:hover {
  background-color: #CB2028;
}

.hover__linkedin:hover {
  background-color: #238CC8;
}


.slider {
  background: no-repeat center center;
  background-image: url(img/jimroot1.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 455px;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
  font-family: "Roboto";
  color: #FFFFFF;
  -webkit-transition: background-image 200ms linear;
  -o-transition: background-image 200ms linear;
  transition: background-image 200ms linear;
}

.slider__h4 {
  font-size: 4.6rem;
  font-weight: 300;
  position: absolute;
  top: 45px;
  left: 60px;
}

.slider__p {
  font-weight: 100;
  font-size: 1.4rem;
  max-width: 49%;
  position: absolute;
  top: 110px;
  left: 60px;
}

@media only screen and (max-width: 550px){
  .slider__p{
    top: 200px;
  }
}


.slider__button {
  cursor: pointer;
  border: 0px;
  width: 35px;
  height: 50px;
  background-color: white;
  position: absolute;
  border-radius: 7%;
}

.slider__button--viewmore{
  position: absolute;
  top: 50%;
  left: 75px;
  width: 170px;
  height: 55px;
  border: 1px white solid;
  border-radius: 4%;
  background-color: transparent;
  font-size: 1.6rem;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 550px){
  .slider__button--viewmore{
    width: 100px;
    font-size: 1.2rem;
    top: 70%;
    left: 60px;
  }
}

.slider__button--left {
  left: 0px;
  top: 50%;
}

.slider__button--left::after {
  content: '';
  color: black;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.slider__button--right {
  right: 0px;
  top: 50%;
}

.slider__button--right::after {
  content: '';
  color: #000000;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.slider__indicators {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 50px;
}

.i--indicator {
  width: 12.5px;
  height: 12.5px;
  border-radius: 50%;
  margin-left: 5px;
  border: 1px pink solid;
  cursor: pointer;
}

@media (max-width: 720px) {
  .i--indicator {
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }
}

.i--indicator:hover {
  background-color: #FFFFFF;
}
