* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background-color: #4B637F;
  color: #555;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  font-size: 62.5%;
}

.row {
  max-width: 928px;
  margin: 0 auto;
  /*margin: 0 auto;*/
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

a {
  text-decoration: none;
}

.relative {
  position: relative;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #56CCC8;
  margin-top: 100px;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

.header__input {
  font-size: 0.8rem;
  margin: 0;
  position: relative;
  bottom: 4px;
  border: 1px solid #B7BDC1;
  width: 122px;
  font-size: 1.5rem;
  margin-left: 12px;
  margin-right: -8px;
  display: none;
}

.header__hamburger {
  cursor: pointer;
  width: 60px;
  height: 100%;
  float: left;
  background: transparent;
  border: 0;
}

.header__hamburger__icon {
  color: #FFFFFF;
  font-size: 3rem;
}

.header__hamburger__icon--open {
  display: block;
}

.header__hamburger__icon--close {
  display: none;
}

.header__hamburger__label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.nav--desktop {
  float: right;
  width: calc(100% - 60px);
  height: 60px;
  background-color: #FFFFFF;
}

.nav__div--list {
  float: left;
}

.ul {
  margin-top: 20px;
  margin-left: 10px;
}

.li {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  display: inline;
  list-style: none;
  margin-left: 40px;
  -webkit-transform: 1s;
  -ms-transform: 1s;
  transform: 1s;
}

.li:hover {
  color: #66D0CC;
  cursor: pointer;
}

.nav__div--icons {
  float: right;
  margin-left: -50px;
}

.nav__div--icons__ul {
  margin-top: 15px;
  margin-right: 25px;
}

.li--icons {
  margin-left: 20px;
}

.nav__icons--social {
  font-size: 2.4rem;
  color: #B2B9BD;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.nav__icons--social--search:hover, .nav__icons--social--search:active, .nav__icons--social--search:focus {
  color: #56CCC8;
}

.nav__icons--social--fb:hover, .nav__icons--social--fb:active, .nav__icons--social--fb:focus {
  color: #4D6BAA;
}

.nav__icons--social--twitter:hover, .nav__icons--social--twitter:active, .nav__icons--social--twitter:focus {
  color: #4FC6F8;
}

.nav__icons--social--gplus:hover, .nav__icons--social--gplus:active, .nav__icons--social--gplus:focus {
  color: #D34836;
}

.nav__icons--social--user:hover, .nav__icons--social--user:active, .nav__icons--social--user:focus {
  color: #87D37C;
}

.nav__line::after {
  content: "";
  position: absolute;
  height: 60px;
  bottom: -19px;
  width: 1px;
  background-color: #DDE2E4;
  margin-left: 20px;
}

.nav__line--first.closed::after {
  visibility: hidden;
}

/*MOBILE NAV*/
.nav--mobile {
  width: 100%;
  height: 270px;
  margin: 10px 0 10px 0;
  background-color: #FFFFFF;
  display: none;
  padding-top: 40px;
}

.nav--mobile__ul {
  margin: 0;
}

.nav--mobile__li {
  display: block;
  border-top: 1px solid #56CCC8;
  border-bottom: 1px solid #56CCC8;
  width: 100%;
  margin: 0 0 20px 0;
  text-align: center;
}

.nav--mobile__li__a {
  color: #BDC3C7;
}

/*SOCIAL*/
.social {
  margin-top: 15px;
  width: 220px;
  height: 150px;
  position: relative;
  float: right;
}

.social--fb {
  background-color: #4D6BAA;
}

.social--twitter {
  background-color: #4FC6F8;
}

.social__span {
  font-family: "Roboto";
  font-size: 1.6rem;
  color: #FFFFFF;
  position: absolute;
}

.social__span--counter {
  font-weight: 700;
  bottom: 20px;
  left: 25px;
}

.social__span--follow {
  font-weight: 300;
  bottom: 20px;
  left: 120px;
}

.social__span--following {
  font-weight: 300;
  bottom: 20px;
  left: 100px;
}

.social__icon {
  color: #FFFFFF;
  position: absolute;
  font-size: 5rem;
}

.social__icon--fb {
  top: 22px;
  left: 30px;
}

.social__icon--twitter {
  top: 22px;
  left: 25px;
}

.social__icon--addchecked {
  font-size: 3rem;
  bottom: 12px;
  right: 10px;
  cursor: pointer;
}

.newsletter {
  float: right;
  width: 50%;
  height: 170px;
  margin: 10px 0 0 0;
  background-color: #FFFFFF;
  color: #475055;
  font-family: "Roboto";
}

.newsletter__p {
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
}

.h3 {
  font-size: 2.4rem;
  font-weight: 300;
  margin: 30px auto auto auto;
  text-align: center;
}

.connect {
  float: right;
  width: 450px;
  height: 165px;
  margin: 10px 0 0 0;
  background-color: #FFFFFF;
  color: #475055;
  font-family: "Roboto";
}

.newsletter__p {
  font-size: 1.2rem;
  margin: 16px auto 16px auto;
}

.newsletter__form {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.input--email {
  width: 60%;
  border: 1px solid #B2B9BD;
  font-size: 1.5rem;
  padding: 3%;
  color: #B2B9BD;
  margin: 0 auto;
  text-align: center;
}

.button--signup {
  width: 100px;
  height: 45px;
  font-family: "Roboto";
  text-transform: uppercase;
  border: 0;
  border-radius: 5%;
  background-color: #EA6060;
  color: #FFFFFF;
  font-size: 1.6rem;
  cursor: pointer;
  margin-right: 25px;
}

.divSocialList {
  float: right;
  margin-top: 20px;
  width: 220px;
  height: 315px;
  background-color: #FFFFFF;
}

.divSocialList__ul {
  margin-top: 35px;
  list-style-type: none;
}

.divSocialList__li {
  margin-bottom: 20px;
  margin-left: 25px;
}

.divSocialList__circle {
  display: inline;
  width: 100px;
  height: 100px;
  background-color: gray;
}

.divSocialList__i {
  font-size: 4rem;
  color: blue;
}

.divSocialList__span {
  font-size: 1.6rem;
  font-family: "Roboto";
  color: #475055;
  position: relative;
  bottom: 10px;
  left: 25px;
}

.icon-circle {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin: 0px;
  padding: 0;
  background-color: #c5cdd1;
}

.icon-circle-facebook {
  background-color: #4D6BAA;
  cursor: pointer;
}

.icon-circle-twitter {
  background-color: #4FC6F8;
  cursor: pointer;
}

.icon-circle-googleplus {
  background-color: #D34836;
  cursor: pointer;
}

.icon-circle-linkedin {
  background-color: #238CC8;
  cursor: pointer;
}

.iconproperties {
  position: absolute;
  top: 23%;
  left: 30%;
  font-size: 1.5rem;
  padding: 0;
  width: 0px;
  height: 0px;
  color: #FFFFFF;
}

.iconproperties--signin {
  color: #4D6BAA;
}

.icon--facebook--fix {
  left: 40%;
  font-size: 1.6rem;
}

.icon--linkedin--fix {
  right: 30%;
  font-size: 1.6rem;
}

.firsticonhover {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 32px;
  z-index: 9999;
}

.hover__facebook:hover {
  background-color: #4D6BAA;
}

.hover__twitter:hover {
  background-color: #4FC6F8;
}

.hover__googleplus:hover {
  background-color: #D34836;
}

.hover__twitter:hover {
  background-color: #4FC6F8;
}

.hover__rss:hover {
  background-color: #FF9900;
}

.hover__pinterest:hover {
  background-color: #CB2028;
}

.hover__linkedin:hover {
  background-color: #238CC8;
}

.sign-in__icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sign-in__icon {
  margin-right: 10px;
  margin-left: 10px;
}

.contact {
  font-family: "Roboto";
  font-size: 1.4rem;
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 225px;
  height: 250px;
  background-color: #B2B9BD;
  color: #FFFFFF;
}

.contact__left {
  float: left;
  display: inline-block;
  width: 20%;
  height: 100%;
  padding: 0px;
}

.contact__right {
  float: right;
  display: inline-block;
  width: 79%;
  height: 100%;
}

.contact__right:after {
  content: "";
  display: table;
  clear: both;
}

.contact__right__article {
  margin-top: 36px;
  margin-left: 25px;
}

.contact__icon {
  display: block;
  font-size: 4rem;
  padding: 0px;
  margin-top: 30px;
  margin-left: 17px;
}

.slider {
  background: no-repeat center center;
  background-image: url(img/jimroot1.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 455px;
  margin-bottom: 20px;
  position: relative;
  font-family: "Roboto";
  color: #FFFFFF;
  -webkit-transition: background-image 500ms linear;
  -o-transition: background-image 500ms linear;
  transition: background-image 500ms linear;
}

.slider__h4 {
  font-size: 4.6rem;
  font-weight: 300;
  position: absolute;
  top: 45px;
  left: 60px;
}

.slider__p {
  font-weight: 100;
  font-size: 1.4rem;
  max-width: 35%;
  position: absolute;
  top: 110px;
  left: 60px;
}

.slider__button {
  cursor: pointer;
  border: 0px;
  width: 35px;
  height: 50px;
  background-color: white;
  position: absolute;
  border-radius: 7%;
}

.slider__button--left {
  left: 0px;
  top: 50%;
}

.slider__button--left::after {
  content: '';
  color: black;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.slider__button--right {
  right: 0px;
  top: 50%;
}

.slider__button--right::after {
  content: '';
  color: #000000;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.slider__indicators {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 50px;
}

.i--indicator {
  width: 12.5px;
  height: 12.5px;
  border-radius: 50%;
  margin-left: 5px;
  border: 1px pink solid;
  cursor: pointer;
}

.i--indicator:hover {
  background-color: #FFFFFF;
}
