@import "reset";
@import "variables";
@import "mixins";

.relative{
  position: relative;
}

.header{
  @include clearFix;
  width: 100%;
  height: 60px;
  background-color: $turquoise;
  margin-top: 100px;

  &__input{
    font-size: 0.8rem;
    margin: 0;
    position: relative;
    bottom: 4px;
    border: 1px solid #B7BDC1;
    width: 122px;
    font-size: 1.5rem;
    margin-left: 12px;
    margin-right: -8px;
    display: none;
  }

  &__hamburger{
    cursor: pointer;
    width: 60px;
    height: 100%;
    float: left;
    background: transparent;
    border: 0;
      &__icon{
        color: $white;
        font-size: 3rem;
        &--open{
          display: block;
        }
        &--close{
          display: none;
        }
      }
      &__label{
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap;
      }
  }
}

.nav--desktop{
  float: right;
  width: calc(100% - 60px);
  height: 60px;
  background-color: $white;
}

.nav__div--list{
  float: left;
}

.ul{
    margin-top: 20px;
    margin-left: 10px;
}
.li{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    display: inline;
    list-style: none;
    margin-left: 40px;
    transform: 1s;
    &:hover{
      color: #66D0CC;
      cursor: pointer;
    }
}

.nav__div--icons{
  float: right;
  margin-left: -50px;
  &__ul{
    margin-top: 15px;
    margin-right: 25px;
  }
}

.li--icons{
  margin-left: 20px;
}

.nav__icons--social{
  font-size: 2.4rem;
  color: $grey;
  transition: 0.2s;
  &--search:hover,
  &--search:active,
  &--search:focus,{
    color: $turquoise;
  }
  &--fb:hover,
  &--fb:active,
  &--fb:focus{
    color: $fb;
  }
  &--twitter:hover,
  &--twitter:active,
  &--twitter:focus{
    color: $twitter;
  }
  &--gplus:hover,
  &--gplus:active,
  &--gplus:focus{
    color: $gplus;
  }
  &--user:hover,
  &--user:active,
  &--user:focus{
    color: $user;
  }
}

.nav__line::after{
  content: "";
  position: absolute;
  height: 60px;
  bottom: -19px;
  width: 1px;
  background-color: #DDE2E4;
  margin-left: 20px;
}
.nav__line--first.closed::after{
  visibility: hidden;
}

/*MOBILE NAV*/
.nav--mobile{
  width: 100%;
  height: 270px;
  margin: 10px 0 10px 0;
  background-color: $white;
  display: none;
  padding-top: 40px;
  &__ul{
    margin: 0;
  }
  &__li{
    display:block;
    border-top: 1px solid #56CCC8;
    border-bottom: 1px solid #56CCC8;
    width: 100%;
    margin: 0 0 20px 0;
    text-align: center;
    &__a{
      color: $lightGrey;
    }
  }
}

/*SOCIAL*/
.social{
  margin-top: 15px;
  width: 220px;
  height: 150px;
  position: relative;
  float: right;

  &--fb{
    background-color: $fb;
  }
  &--twitter{
    background-color: $twitter;
  }

  &__span{
    font-family: $font--main;
    font-size: 1.6rem;
    color: $white;
    position: absolute;
      &--counter{
        font-weight: $font-bold;
        bottom: 20px;
        left: 25px;
      }
      &--follow{
        font-weight: $font-light;
        bottom: 20px;
        left: 120px;
      }
      &--following{
        font-weight: 300;
        bottom: 20px;
        left: 100px;
      }
  }
    &__icon{
      color: $white;
      position: absolute;
      font-size: 5rem;
      &--fb{
        top: 22px;
        left: 30px;
      }
      &--twitter{
        top: 22px;
        left: 25px;
      }
      &--addchecked{
        font-size: 3rem;
        bottom: 12px;
        right: 10px;
        cursor: pointer;
      }
    }
}

.newsletter{
  float: right;
  width: 50%;
  height: 170px;
  margin: 10px 0 0 0;
  background-color: $white;
  color: #475055;
  font-family: $font--main;
  &__p{
    font-size: 1.6rem;
    font-weight: $font-light;
    margin: 0 auto;
    text-align: center;
  }
}

.h3{
    font-size: 2.4rem;
    font-weight: $font-light;
    margin: 30px auto auto auto;
    text-align: center;
}

.connect{ //sign in and newsletter div
  float: right;
  width: 450px;
  height: 165px;
  margin: 10px 0 0 0;
  background-color: $white;
  color: #475055;
  font-family: $font--main;
}

.newsletter{
  &__p{
    font-size: 1.2rem;
    margin: 16px auto 16px auto;
  }
  &__form{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.input--email{
  width: 60%;
  border: 1px solid $grey;
  font-size: 1.5rem;
  padding: 3%;
  color: $grey;
  margin: 0 auto;
  text-align: center;
}


.button--signup{
  width: 100px;
  height: 45px;
  font-family: $font--main;
  text-transform: uppercase;
  border: 0;
  border-radius: 5%;
  background-color: $red;
  color: $white;
  font-size: 1.6rem;
  cursor: pointer;
  margin-right: 25px;
}

.divSocialList{
  float: right;
  margin-top: 20px;
  width: 220px;
  height: 315px;
  background-color: $white;

  &__ul{
    margin-top: 35px;
    list-style-type: none;
  }

  &__li{
    margin-bottom: 20px;
    margin-left: 25px;
  }

  &__circle{
    display: inline;
    width: 100px;
    height: 100px;
    background-color: gray;
  }

  &__i{
    font-size: 4rem;
    color: blue;
  }
    &__span{
      font-size: 1.6rem;
      font-family: $font--main;
      color: #475055;
        position: relative;
        bottom: 10px;
        left: 25px;
    }

}
.icon-circle{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin: 0px;
    padding: 0;
    background-color: #c5cdd1;
    &-facebook{
      background-color: $fb;
      cursor: pointer;
    }
    &-twitter{
      background-color: $twitter;
      cursor: pointer;
    }
    &-googleplus{
      background-color: $gplus;
      cursor: pointer;
    }
    &-linkedin{
      background-color: $linkedin;
      cursor: pointer;
    }
}



.iconproperties{
    position: absolute;
    top: 23%;
    left: 30%;
    font-size: 1.5rem;
    padding: 0;
    width: 0px;
    height: 0px;
    color: $white;
}

.iconproperties--signin{
  color: $fb;
}

.icon--facebook--fix{
    left: 40%;
    font-size: 1.6rem;
}

.icon--linkedin--fix{
  right: 30%;
  font-size: 1.6rem;
}


.firsticonhover{
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 32px;
    z-index: 9999;
}



.hover{
    &__facebook:hover{
      background-color: $fb;
    }
    &__twitter:hover{
        background-color: $twitter;
    }
    &__googleplus:hover{
        background-color: $gplus;
    }
    &__twitter:hover{
        background-color: $twitter;
    }
    &__rss:hover{
        background-color: #FF9900;
    }
    &__pinterest:hover{
        background-color: #CB2028;
    }
    &__linkedin:hover{
      background-color: $linkedin;
    }
}

.sign-in{
  &__icons{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon{
    margin-right: 10px;
    margin-left: 10px;
  }
}

.contact{
    font-family: $font--main;
    font-size: 1.4rem;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 225px;
    height: 250px;
    background-color: $grey;
    color: $white;
    &__left{
        float: left;
        display: inline-block;
        width: 20%;
        height: 100%;
        padding: 0px;
    }
    &__right{
        float: right;
        display: inline-block;
        width: 79%;
        height: 100%;
        @include clearFix;
        &__article{
            margin-top: 36px;
            margin-left: 25px;
        }
    }
    &__icon{
        display: block;
        font-size: 4rem;
        padding: 0px;
        margin-top: 30px;
        margin-left: 17px;
    }
}

.slider{
  background: no-repeat center center;
  background-image: url(img/jimroot1.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  width: 100%;
  height: 455px;
  margin-bottom: 20px;
  position: relative;
  font-family: $font--main;
  color: $white;
  transition: background-image 500ms linear;
  &__h4{
    font-size: 4.6rem;
    font-weight: $font-light;
    position: absolute;
    top: 45px;
    left: 60px;
  }
  &__p{
    font-weight: 100;
    font-size: 1.4rem;
    max-width: 35%;
    position: absolute;
    top: 110px;
    left: 60px;
  }
  &__button{
    cursor: pointer;
    border: 0px;
    width: 35px;
    height: 50px;
    background-color: white;
    position: absolute;
    border-radius: 7%;
    &--left{
      left: 0px;
      top: 50%;
      &::after{
        content: '';
        color: black;
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
    }
    &--right{
      right: 0px;
      top: 50%;
      &::after{
        content: '';
        color: $black;
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
    }
  }
  &__indicators{
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
  }
}

.i--indicator{
  width: 12.5px;
  height: 12.5px;
  border-radius: 50%;
  margin-left: 5px;
  border: 1px pink solid;
  cursor: pointer;
  &:hover{
    background-color: $white;
  }
}
