$font--main: 'Roboto', sans-serif;
$font-bold: 700;
$font-light: 300;

$bodyBackground: #4B637F;
$white: #FFFFFF;
$turquoise: #56CCC8;
$grey: #B2B9BD;
$lightGrey: #BDC3C7;

$fb: #4D6BAA;
$twitter: #4FC6F8;
$gplus: #D34836;
$user: #87D37C;
